@model PNT1_Grupo6.Models.OrdenCompra

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>OrdenCompra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProveedorId" class="control-label" id="CodigoProveedorDropdown"></label>
                <select asp-for="ProveedorId" asp-action="GetListaProveedores" class="form-control" id="CodigoProveedorSelect">
                    <option value="">Seleccione un proveedor</option>
                    @{
                        foreach (var proveedor in ViewBag.Proveedores)
                        {
                            <option value="@proveedor.Id">@proveedor.Nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label" id="CodigoProductoDropdown"></label>
                <select asp-for="ProductoId" asp-action="GetListaProductos" class="form-control" id="CodigoProductoSelect">
                    <option value="">Seleccione un producto</option>
                    @{
                        foreach (var producto in ViewBag.Productos)
                        {
                            <option value="@producto.Id">@producto.Nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option selected="selected" value=0>Pendiente</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

