@model PNT1_Grupo6.Models.Proveedor

@{
    ViewData["Title"] = "Edit";
}

<div class="fondo">
    <h1>Edit</h1>
    @if (TempData["ProveedorError"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ProveedorError"]
        </div>}

    <h4>Proveedor</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubro" class="control-label"></label>
                <input asp-for="Rubro" class="form-control" />
                <span asp-validation-for="Rubro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="verde btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="rojo" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    h1, h4 {
        text-align: center;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .col-md-4 {
        text-align: center;
    }

    form {
        max-width: 400px;
    }

    .btn-submit {
        margin: 0 auto;
        display: block;
    }

    .verde {
        background-color: green;
        display: inline;
    }

        .verde:hover {
            background-color: darkgreen;
        }

    .rojo {
        padding: 8px 16px;
        background-color: red;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        .rojo:hover {
            color: white;
            text-decoration: none;
            background-color: darkred;
        }

    .fondo {
        background-color: #1861ac;
        border-radius: 10px;
        color: white;
    }
</style>
