@{
    ViewData["Title"] = "Home Page";
}
@{
    var session = ViewContext.HttpContext.Session;
    var usuario = session.GetObject<Usuario>("Usuario");
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    @if (usuario != null)
    {
        <p>Logeado correctamente. Ya está habilitado para operar.</p>
    }
    else
    {
        <p>Para comenzar a operar inicie sesión con un usuario existente.</p>
    }

</div>
