@model PNT1_Grupo6.Models.Usuario

<div>
    <h1>Mi Usuario</h1>
    <p>Bienvenido, @Model.UserName</p>
    <p>Rol: @Model.RolUsuario</p>
</div>
    



<style>
    
    h1{
        color: #333;
        font-size: 55px;
        margin-bottom: 10px;
        text-align:center;
        margin-top:150px;
        
        
    }

    p {
        color: #777;
        font-size: 25px;
        margin-bottom: 5px;
        text-align: center;
    }
</style>